@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  list-style: none;
  text-decoration: none;
}
.container {
  width: 100%;
  height: auto;
  font-size: 10px;
  padding: 0em 2em;
  padding-bottom: 4em;
  font-family: "Chakra Petch", sans-serif;
}

.container nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid; */
}
.container nav ul {
  display: flex;
  align-items: center;
  gap: 4em;
}
.container nav ul li {
  display: flex;
  align-items: center;
  gap: 1em;
  cursor: pointer;
}
.container nav ul li a {
  font-size: 1.6em;
  font-weight: 500;
  color: var(--text);
  transition: color 500ms ease-in-out;
}
.container nav ul li .arr {
  font-size: 1.6em;
  transition: color 500ms ease-in-out;
}
.container nav ul li:hover a {
  color: var(--highlight);
}
.container nav ul li:hover .arr {
  color: var(--highlight);
}

.container nav .logo {
  font-size: 2.4em;
  color: var(--text);
  font-weight: 400;
  transition: color 500ms ease-in-out;
}

.container nav ul li .icon {
  font-size: 1.6em;
  font-weight: 500;
  color: var(--text);
}

form {
  width: 100%;
  height: auto;
  text-align: center;
}
form h1 {
  font-size: 2.4em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 1em;
}
form input {
  width: 100%;
  height: 4em;
  outline: none;
  border: 2px solid #000;
  border-radius: 0.3em;
  margin: 2em 0;
  padding: 1.5em;
}
nav {
  width: 100%;
  height: 4em;
  display: flex;
  align-items: center;
  gap: 1em 4em;
  padding: 0 1em;
  margin: 2em 0em;
  /* border: 2px solid #000; */
}

nav .link {
  padding: 0.5em;
  border-radius: 0.5em;
  color: #fff;
  font-size: 2em;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}
nav .link.active {
  background-color: #333;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
}

.home .row {
  width: 100%;
  min-height: 75vh;
  display: flex;
  flex-wrap: wrap;
  gap: 4em 4em;
  align-content: flex-start;
  justify-content: center;
  padding: 1em;
}

.home .row .box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  min-height: 250px;
  padding-bottom: 1em;
  text-align: center;
  cursor: pointer;
  position: relative;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 0.5em;
}
.home .row .box img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}
.home .row .box h2 {
  font-size: 2em;
  text-transform: uppercase;
  margin: 0.5em auto;
}
.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0%;
  left: 0%;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
}

.overlay img {
  display: block;
  object-fit: contain;
  height: 70vh;
}
.overlay h2 {
  font-size: 4em;
}
.overlay p {
  font-size: 2em;
  word-break: keep-all;
}
.overlay .cancel {
  font-size: 4em;
  position: absolute;
  top: 2%;
  left: 5%;
  color: #000;
  background: #fff;
  border-radius: 10px;
  padding: 0.2em 0.5em;
  cursor: pointer;
}
.overlay .download {
  font-size: 4em;
  position: absolute;
  top: 2%;
  right: 5%;
  color: #000;
  cursor: pointer;
  background: #fff;
  border-radius: 10px;
  padding: 0.2em 0.5em;
}

@media (max-width: 768px) {
  .overlay img {
    width: 95%;
  }
  .overlay h2 {
    font-size: 2em;
  }
  .overlay p {
    font-size: 1.4em;
  }
  .overlay .cancel {
    font-size: 2.5em;
  }
  .overlay .download {
    font-size: 2.5em;
  }
}
